<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <style>
        ul{
    
            width: 100%;
        }
        ul li{
       
            width: calc(100% / 7);
            border-bottom: 2px solid rgba(255,255,255,0);
            text-align:center;
            transition:all .8s ease;
        }
            ul li:hover {
                border-bottom: 2px solid rgba(255,255,255,1);
            }

            nav{
                width:100%;
                position:sticky;
                top: 0;
            }
        .nav-item {
            font-size: large;
            font-weight: 600;
            text-decoration: none;
            color: white;
            padding: 7px;
        }
        .nav-item:hover{
            color:white;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" style="color:cyan;">CooperTea</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-left">

                <li class="nav-item-active">
                    @Html.ActionLink("Anasayfa", "Index", "Home", new { @style = "font-size: large; font-weight: 600; text-decoration:none; color:white;  " })
                </li>
                <li class="nav-item">@Html.ActionLink("Araçlar", "About", "Home", new { @class = "nav-item" })</li>
                <li class="nav-item">@Html.ActionLink("Rezervasyon", "Rezervasyon", "Home", new { @style = "font-size: large; font-weight: 600; text-decoration:none; color:white; padding:7x " })</li>
                <li class="nav-item">@Html.ActionLink("Hakkımızda", "Hakkimizda", "Home", new { @style = "font-size: large; font-weight: 600; text-decoration:none; color:white; padding:7px " })</li>
                <li class="nav-item">@Html.ActionLink("İletişim", "Contact", "Home", new { @style = "font-size: large; font-weight: 600; text-decoration:none; color:white; padding:7px " })</li>
                <li class="nav-item">@Html.ActionLink("Üye Girişi", "Giris", "Home", new { @style = "font-size: large; font-weight: 600; text-decoration:none; color:white; padding:7px " }) <i style="color:white" ; class="fas fa-sign-in-alt"></i> </li>
            </ul>
        </div>
    </nav>

    <div>
        @RenderBody()
        <hr />
        <footer>
            <span>&copy; @DateTime.Now.Year - Burak Güven - Furkan Çankaya - Halil İbrahim Marangoz</span>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>
</html>

